<div class="nav-bar">
  <button class="futurebutton" id="btnBack">Back</button>
</div>

<div class="futurepanel">
  <div class="futurepanel__header">
    <h1 class="futurepanel__title">Servers</h1>
  </div>
  <button class="futurebutton" id="btnCors">Update</button>
</div>
<div class="server-stats-container">
  <div class="futurepanel ">
    <div class="futurepanel__header">
      <h1 class="futurepanel__title">Masstroage</h1>
    </div>
    <div class="futurepanel__body">
      <div><span style="color: lime;">_network: </span><span>3gb</span></div>
      <div><span style="color: lime;">_ram: </span><span>3gb</span></div>
    </div>
  </div>
</div>
