* {
  font-size: 18px;
  box-sizing: border-box;
}
html,
body {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background-color: black;
  color: rgba(120, 200, 255, 0.8);
}

div.futurepanel {
  margin-top: 10px;
}

button.futurebutton {
  margin-top: 10px;
}
